:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  min-width: 460px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

* {
  color: white;
  border-radius: 15px;
}

body {
  margin: 10px;
  border: 5px solid red;
  max-width: 60em;
}

header {
  border: 2px solid green;
  padding: 5px;
  margin: 5px;
  max-width: 60em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav {
  border: 2px solid blue;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.body {
  border: 2px solid orange;
  margin: 5px;
  padding: 10px;
  max-width: 50em;

}

.article-card {
  border: 2px solid white;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.thumbnail {
  max-width: 100px;
  max-height: 100px;
  padding: 20px;
}

#image-container {
  border: 2px solid white;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#article-image {
  /* width: auto;
  height: auto; */
  max-width: 60vw;
  max-height: 60vh;
}


.details {
  flex-direction: row;
  flex-wrap: wrap;

}

.details > * {
  margin: 10px;

}

.headline {
  max-width: 30em;
}

.comments-list {
  border: 2px solid magenta;
  padding: 10px;
  margin: 5px;
}

#details-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.comment-card {
  border: 2px solid pink;
  padding: 10px;
  margin: 5px;
  
}

.comment-card .details {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons > button {
  height: 50px;
}

.clicked {
  background-color: green;
}

.write-comment {
  border: 2px solid brown;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;

}

.write-comment > * {
  padding: 10px;
  margin: 5px;
}

.topic-card {
  border: 2px solid white;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sort-by-bar {
  border: 2px solid mediumaquamarine;
  padding: 10px;
  margin: 5px;


}

.loading {
  border: 2px solid wheat;
  padding: 10px;
  margin: 5px;
}
